{{ 'ticker.css' | asset_url | stylesheet_tag }}

<script src="{{ 'ticker.js' | asset_url }}" defer="defer"></script>

{% style %}
	{% render 'section-padding' %}
	{% render 'section-margin' %}
{% endstyle %}

<div
	class="ticker color-{{ section.settings.color_scheme }} background section-{{ section.id }}-padding {% if section.settings.enable_border_top %} section_border_top{% endif %}{% if section.settings.enable_border_bottom %} section_border_bottom{% endif %}"
	data-ticker-speed="{{ section.settings.ticker_speed }}"
	data-ticker-id="{{ section.id }}"
>
	<div class="ticker_wrapper ticker-js-{{ section.id }}">
		{%- for block in section.blocks -%}
			{%- case block.type -%}
				{%- when 'media_block' -%}
					<div class="ticker_item ticker_item-media">
						<div class="ticker_title">
							{%- if block.settings.image != blank -%}
								<{% if block.settings.ticker_link != blank %}a href="{{ block.settings.ticker_link }}" aria-label="Ticker link"{% else %}div{% endif %} class="ticker_img">
									{% assign image_height = block.settings.image.width
										| divided_by: block.settings.image.aspect_ratio
									%}
									{{
										block.settings.image
										| image_url: width: 560
										| image_tag:
											loading: 'lazy',
											width: block.settings.image.width,
											height: image_height,
											sizes: '100vw',
											widths: '70, 140, 280, 560'
									}}
									{% case block.settings.social_icon %}
										{% when "none" %}
										{% when "instagram" %}
											{%- render 'icon-instagram' -%}
										{% when "facebook" %}
											{%- render 'icon-facebook' -%}
										{% when "tiktok" %}
											{%- render 'icon-tiktok' -%}
										{% when "twitter" %}
											{%- render 'icon-twitter' -%}
										{% when "vimeo" %}
											{%- render 'icon-vimeo' -%}
										{% when "youtube" %}
											{%- render 'icon-youtube' -%}
										{% when "pinterest" %}
											{%- render 'icon-pinterest' -%}
										{% when "tumblr" %}
											{%- render 'icon-tumblr' -%}
										{% when "snapchat" %}
											{%- render 'icon-snapchat' -%}
									{% endcase %}
								</{% if block.settings.ticker_link != blank %}a{% else %}div{% endif %}>
							{%- endif -%}
							{% if block.settings.heading != blank %}
								<h2 class="ticker_heading">
								{{ block.settings.heading }}
								</h2>
							{% endif %}
						</div>
					</div>
				{%- when 'info_block' -%}
					<div class="ticker_item ticker_item-info">
						{%- if block.settings.image != blank -%}
							<div class="ticker_img">
								{% assign image_height = block.settings.image.width
									| divided_by: block.settings.image.aspect_ratio
								%}
								{{
									block.settings.image
									| image_url: width: 80
									| image_tag:
										loading: 'lazy',
										width: block.settings.image.width,
										height: image_height,
										sizes: '100vw',
										widths: '40, 80, 160, 320'
								}}
							</div>
						{%- endif -%}
						<div class="ticker_content">
							{% if block.settings.heading != blank %}
								<h3 class="ticker_heading">
									{{ block.settings.heading }}
								</h3>
							{% endif %}
							{% if block.settings.description != blank %}
								<span class="ticker_description">
									{{ block.settings.description }}
								</span>
							{% endif %}
						</div>
					</div>
			{%- endcase -%}
		{% endfor %}
	</div>
</div>

{% schema %}
{
	"name": "t:sections.ticker.name",
	"tag": "section",
	"class": "ticker-section",
	"enabled_on": {
		"templates": ["*"],
		"groups": ["footer"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
		{
			"type": "range",
			"id": "ticker_speed",
			"min": 0,
			"max": 50,
			"step": 1,
			"default": 25,
			"unit": "s",
			"label": "t:sections.all.ticker.settings.ticker_speed.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-padding.header.content"
		},
		{
			"type": "select",
			"id": "padding_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-padding.padding_top.label"
		},
		{
			"type": "select",
			"id": "padding_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-padding.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-padding.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-padding.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-padding.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-padding.options__5.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-padding.padding_bottom.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.border.header.content"
		},
		{
			"type": "checkbox",
			"id": "enable_border_top",
			"default": true,
			"label": "t:sections.all.border.border_enable_top.label"
		},
		{
			"type": "checkbox",
			"id": "enable_border_bottom",
			"default": false,
			"label": "t:sections.all.border.border_enable_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "media_block",
			"name": "t:sections.ticker.blocks.media_block",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Some text",
					"label": "t:sections.all.text.label"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "url",
					"id": "ticker_link",
					"label": "t:sections.all.button.link.label"
				},
				{
					"type": "select",
					"id": "social_icon",
					"options": [
						{
							"value": "none",
							"label": "t:sections.all.icons_social.icons.none"
						},
						{
							"value": "instagram",
							"label": "t:sections.all.icons_social.icons.icon_1"
						},
						{
							"value": "facebook",
							"label": "t:sections.all.icons_social.icons.icon_2"
						},
						{
							"value": "tiktok",
							"label": "t:sections.all.icons_social.icons.icon_3"
						},
						{
							"value": "twitter",
							"label": "t:sections.all.icons_social.icons.icon_4"
						},
						{
							"value": "vimeo",
							"label": "t:sections.all.icons_social.icons.icon_5"
						},
						{
							"value": "youtube",
							"label": "t:sections.all.icons_social.icons.icon_6"
						},
						{
							"value": "pinterest",
							"label": "t:sections.all.icons_social.icons.icon_7"
						},
						{
							"value": "tumblr",
							"label": "t:sections.all.icons_social.icons.icon_8"
						},
						{
							"value": "snapchat",
							"label": "t:sections.all.icons_social.icons.icon_9"
						}
					],
					"default": "none",
					"label": "t:sections.all.icons_social.header.content"
				}
			]
		},
		{
			"type": "info_block",
			"name": "t:sections.ticker.blocks.info_block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "Heading",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "richtext",
					"id": "description",
					"default": "<p>Some description</p>",
					"label": "t:sections.all.description.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.ticker.name",
			"blocks": [
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				},
				{
					"type": "media_block"
				}
			]
		}
	]
}
{% endschema %}
